In [1]:
import pandas as pd

df = pd.read_csv("../data/clean_data.csv")
df.head()

,age,workclass,final_weight,education,user_education_id,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                30162 non-null  int64
 1   workclass          30162 non-null  object
 2   final_weight       30162 non-null  int64
 3   education          30162 non-null  object
 4   user_education_id  30162 non-null  int64
 5   marital_status     30162 non-null  object
 6   occupation         30162 non-null  object
 7   relationship       30162 non-null  object
 8   race               30162 non-null  object
 9   sex                30162 non-null  object
 10  capital_gain       30162 non-null  int64
 11  capital_loss       30162 non-null  int64
 12  hours_per_week     30162 non-null  int64
 13  native_country     30162 non-null  object
 14  salary             30162 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.5+ MB

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
target = df.pop("salary")
features = df

In [5]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                30162 non-null  int64
 1   workclass          30162 non-null  object
 2   final_weight       30162 non-null  int64
 3   education          30162 non-null  object
 4   user_education_id  30162 non-null  int64
 5   marital_status     30162 non-null  object
 6   occupation         30162 non-null  object
 7   relationship       30162 non-null  object
 8   race               30162 non-null  object
 9   sex                30162 non-null  object
 10  capital_gain       30162 non-null  int64
 11  capital_loss       30162 non-null  int64
 12  hours_per_week     30162 non-null  int64
 13  native_country     30162 non-null  object
dtypes: int64(6), object(8)
memory usage: 3.2+ MB

In [6]:
train_features, test_features, train_target, test_target = train_test_split(
    features, 
    target,
    train_size=0.2, 
    random_state=1
)

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer


categorical_preproc = OneHotEncoder(handle_unknown="ignore")
categorical_feature_list =  ["workclass", "education", "marital_status", "occupation", "relationship", "race", "sex", "native_country"]
numerical_preprocessing = StandardScaler()
numerical_feature_list= ["age","final_weight", "user_education_id", "capital_gain", "capital_loss", "hours_per_week"]
preproc = ColumnTransformer(
    transformers=[
        ("cat_transform", categorical_preproc, categorical_feature_list),
        ("num_transform", numerical_preprocessing, numerical_feature_list)
    ],
)
pipe = make_pipeline(preproc, LogisticRegression())
pipe.fit(train_features, train_target)

/Users/arturopolancolozano/opt/anaconda3/envs/mlops/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('cat_transform',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['workclass', 'education',
                                                   'marital_status',
                                                   'occupation', 'relationship',
                                                   'race', 'sex',
                                                   'native_country']),
                                                 ('num_transform',
                                                  StandardScaler(),
                                                  ['age', 'final_weight',
                                                   'user_education_id',
                                                   'capital_gain',
                                                   'capital_loss',
                                                   'hours_per_week'])])),
                ('logisticregression', LogisticRegression())])

In [8]:
pipe.score(train_features, train_target)

0.8459880636604774

In [11]:
pipe.score(test_features, test_target)

0.8488603398259428

In [13]:
import joblib
joblib.dump(pipe, '../starter/model/model.pkl')

['../starter/model/model.pkl']