In [1]:
ls

EDA.ipynb             Untitled.ipynb        baseline_model.ipynb

In [2]:
import pandas as pd

df = pd.read_csv("../data/clean_census.csv")
print(df.columns)

Index(['age', 'workclass', 'final_weight', 'education', 'user_education_id',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'salary'],
      dtype='object')

In [3]:
df.columns.tolist()

['age',
 'workclass',
 'final_weight',
 'education',
 'user_education_id',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'salary']

In [4]:
df.describe()

,age,final_weight,user_education_id,capital_gain,capital_loss,hours_per_week
count,30139.000000,3.013900e+04,30139.000000,30139.000000,30139.000000,30139.000000
mean,38.441720,1.897950e+05,10.122532,1092.841202,88.439928,40.934703
std,13.131426,1.056586e+05,2.548738,7409.110596,404.445239,11.978753
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.176275e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784170e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.376045e+05,13.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.min()

age                                  17
workclass                   Federal-gov
final_weight                      13769
education                          10th
user_education_id                     1
marital_status                 Divorced
occupation                 Adm-clerical
relationship                    Husband
race                 Amer-Indian-Eskimo
sex                              Female
capital_gain                          0
capital_loss                          0
hours_per_week                        1
native_country                 Cambodia
salary                            <=50K
dtype: object

In [14]:
cat_features = [
      "workclass",
      "education",
      "marital_status",
      "occupation",
      "relationship",
      "race",
      "sex",
      "native_country",
]

cat_values_dict = {}

for feature in cat_features:
    print(feature)
    print(df[feature].unique())
    cat_values_dict[feature] = df[feature].unique().tolist()
    print("*"*20)

workclass
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Self-emp-inc' 'Without-pay']
********************
education
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 '7th-8th' 'Doctorate' 'Assoc-voc' 'Prof-school' '5th-6th' '10th'
 'Preschool' '12th' '1st-4th']
********************
marital_status
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
********************
occupation
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Transport-moving' 'Farming-fishing'
 'Machine-op-inspct' 'Tech-support' 'Craft-repair' 'Protective-serv'
 'Armed-Forces' 'Priv-house-serv']
********************
relationship
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
********************
race
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
********************
sex
['Male' 'Female']
********************
native_country
['United-States' 'Cuba' 'Jamaica' 'India' 'Mexico' 'Puerto-Rico'
 'Honduras' 'England' 'Canada' 'Germany' 'Iran' 'Philippines' 'Poland'
 'Columbia' 'Cambodia' 'Thailand' 'Ecuador' 'Laos' 'Taiwan' 'Haiti'
 'Portugal' 'Dominican-Republic' 'El-Salvador' 'France' 'Guatemala'
 'Italy' 'China' 'South' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
********************

In [15]:
cat_values_dict["workclass"]

['State-gov',
 'Self-emp-not-inc',
 'Private',
 'Federal-gov',
 'Local-gov',
 'Self-emp-inc',
 'Without-pay']

In [16]:
cat_values_dict

{'workclass': ['State-gov',
  'Self-emp-not-inc',
  'Private',
  'Federal-gov',
  'Local-gov',
  'Self-emp-inc',
  'Without-pay'],
 'education': ['Bachelors',
  'HS-grad',
  '11th',
  'Masters',
  '9th',
  'Some-college',
  'Assoc-acdm',
  '7th-8th',
  'Doctorate',
  'Assoc-voc',
  'Prof-school',
  '5th-6th',
  '10th',
  'Preschool',
  '12th',
  '1st-4th'],
 'marital_status': ['Never-married',
  'Married-civ-spouse',
  'Divorced',
  'Married-spouse-absent',
  'Separated',
  'Married-AF-spouse',
  'Widowed'],
 'occupation': ['Adm-clerical',
  'Exec-managerial',
  'Handlers-cleaners',
  'Prof-specialty',
  'Other-service',
  'Sales',
  'Transport-moving',
  'Farming-fishing',
  'Machine-op-inspct',
  'Tech-support',
  'Craft-repair',
  'Protective-serv',
  'Armed-Forces',
  'Priv-house-serv'],
 'relationship': ['Not-in-family',
  'Husband',
  'Wife',
  'Own-child',
  'Unmarried',
  'Other-relative'],
 'race': ['White',
  'Black',
  'Asian-Pac-Islander',
  'Amer-Indian-Eskimo',
  'Other'],
 'sex': ['Male', 'Female'],
 'native_country': ['United-States',
  'Cuba',
  'Jamaica',
  'India',
  'Mexico',
  'Puerto-Rico',
  'Honduras',
  'England',
  'Canada',
  'Germany',
  'Iran',
  'Philippines',
  'Poland',
  'Columbia',
  'Cambodia',
  'Thailand',
  'Ecuador',
  'Laos',
  'Taiwan',
  'Haiti',
  'Portugal',
  'Dominican-Republic',
  'El-Salvador',
  'France',
  'Guatemala',
  'Italy',
  'China',
  'South',
  'Japan',
  'Yugoslavia',
  'Peru',
  'Outlying-US(Guam-USVI-etc)',
  'Scotland',
  'Trinadad&Tobago',
  'Greece',
  'Nicaragua',
  'Vietnam',
  'Hong',
  'Ireland',
  'Hungary',
  'Holand-Netherlands']}

In [18]:
for feature, value in cat_values_dict.items():
    print(f"{feature}: {value} \n")

workclass: ['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', 'Self-emp-inc', 'Without-pay']

education: ['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', 'Assoc-acdm', '7th-8th', 'Doctorate', 'Assoc-voc', 'Prof-school', '5th-6th', '10th', 'Preschool', '12th', '1st-4th']

marital_status: ['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse', 'Widowed']

occupation: ['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Prof-specialty', 'Other-service', 'Sales', 'Transport-moving', 'Farming-fishing', 'Machine-op-inspct', 'Tech-support', 'Craft-repair', 'Protective-serv', 'Armed-Forces', 'Priv-house-serv']

relationship: ['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried', 'Other-relative']

race: ['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

sex: ['Male', 'Female']

native_country: ['United-States', 'Cuba', 'Jamaica', 'India', 'Mexico', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran', 'Philippines', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'Italy', 'China', 'South', 'Japan', 'Yugoslavia', 'Peru', 'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago', 'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary', 'Holand-Netherlands']

In [20]:
df.shape

(30139, 15)